@import "../../styles/variables.scss";
@import "../../styles/adaptive.scss";

.header {
  background: #4894fe;

  .container {
    @include container();

    .header__content {
      height: 100px;

      .header__support {
        color: #ffffff;

        .header__dot {
          background: #fe1620;
        }
      }

      .header__price {
        max-width: 92px;
        background: rgba(255, 255, 255, 0.15);
        color: #ffffff;
      }

      .header__athorization {
        max-width: 92px;
        background: #fd161f;
        color: #ffffff;
      }
    }
  }
}
