@import "../../styles/adaptive.scss";
@import "../../styles/variables.scss";

.header {
  .header__content {
    height: 100px;

    .header__dot {
      min-width: 12px;
      height: 12px;
      background: #fe1620;
      margin-right: 10px;
    }

    .header__price {
      width: 92px;
      background: rgba(255, 255, 255, 0.15);
    }

    .header__athorization {
      width: 92px;
      background: #fd161f;
    }
  }
}
