@import "../../styles/adaptive.scss";
@import "../../styles/variables.scss";

.hero {
  height: 611px;
  @include adaptive-value("padding-top", 100, 100, 0);

  h1 {
    @include adaptive-value("font-size", 96, 40, 1);
  }

  .tabs {
    bottom: -10%;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px 6px rgba(0, 0, 0, 0.07);
    ul:nth-child(1) {
      border-bottom: 1px solid #e8e9f1;
      li {
        a {
          &:focus {
            border-bottom: 2px solid #4894fe;
            svg {
              path {
                stroke: #1f2024;
              }
            }
            span {
              color: #1f2024;
            }
          }

          span {
            color: #c5c6cc;
            @include adaptive-value("font-size", 16, 8, 1);
          }
        }
      }
    }

    ul:nth-child(2) {
      li {
        @include adaptive-value("height", 68, 50, 1);

        span {
          @include adaptive-value("font-size", 16, 8, 1);
        }
      }

      li:nth-child(1) {
        max-width: 291px;

        img {
          @include adaptive-value("width", 40, 20, 1);
          @include adaptive-value("height", 40, 20, 1);
          right: -30px;
        }
      }

      li:nth-child(2) {
        max-width: 291px;
      }

      li:nth-child(6) {
        max-width: 145px;

        button {
          background-color: #4894fe;
          color: #fff;
          @include adaptive-value("font-size", 16, 8, 1);
        }
      }
    }
  }
}
