@import "../../styles/adaptive.scss";
@import "../../styles/variables.scss";

.comfort {
  padding: 114px 0 107px;
}

.phone {
  @include adaptive-value("height", 624, 400, 1);
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #4894fe;
}
