.ant-select .ant-select-selector {
  display: flex;
  align-items: center;
  height: 100% !important;
}

.ant-select .ant-select-selector span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.ant-picker input::placeholder {
  font-family: "Inter", sans-serif;
  color: #1f2024 !important;
  font-size: 16px;
  font-weight: 600;
}

.ant-picker svg {
  color: #1f2024;
}
