@import "./styles/adaptive.scss";
@import "./styles/variables.scss";

.ant-input {
  @include adaptive-value("width", 291, 0, 1);
  height: 100%;
  font-family: "Inter", sans-serif;
  color: #1f2024 !important;
  @include adaptive-value("font-size", 16, 8, 1);
  font-weight: 600;
  padding: 0 24px;

  &::placeholder {
    font-family: "Inter", sans-serif;
    color: #1f2024 !important;
    @include adaptive-value("font-size", 16, 8, 1);
    font-weight: 600;
  }
}

.ant-picker {
  @include adaptive-value("width", 162, 70, 1);
  height: 100%;
  padding: 0 23px;

  input::placeholder {
    font-family: "Inter", sans-serif;
    color: #1f2024 !important;
    @include adaptive-value("font-size", 16, 8, 1);
    font-weight: 600;
  }

  svg {
    color: #1f2024;
  }
}

.ant-select {
  @include adaptive-value("width", 199, 90, 1);
  height: 100%;

  .ant-select-selector {
    height: 100% !important;
    display: flex;
    align-items: center;
    padding: 0 22px !important;

    span {
      font-family: "Inter", sans-serif;
      @include adaptive-value("font-size", 16, 8, 1);
      font-weight: 600;
    }
  }
}
