.ant-modal-close {
  width: 44px !important;
  height: 44px !important;
  top: -20px !important;
  right: -20px !important;
  background-color: #4894FE !important;
  border-radius: 10px !important;

  svg{

  }
}

.ant-modal-close {
}